@import url('fonts/fonts.css');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 18px;
	line-height: 1.2;
	font-family: 'Brunel', 'Times New Roman', Times, serif;
	--red: #750f29;
	--green: #204638;
	--gold: #c29b58;
	--blue: #02718a;
	--black: #333;
	--gray: #999;
	--gutter: 6rem;
	color: var(--black);
}

img {
	max-width: 100%;
}

hr {
	width: 100%;
	border: none;
	border-top: 1px solid black;
	margin: 2rem 0;
}

.red {
	color: var(--red);
}
.blue {
	color: var(--blue);
}
.green {
	color: var(--green);
}
.gold {
	color: var(--gold);
}

.bg-red {
	background-color: var(--red);
}
.bg-blue {
	background-color: var(--blue);
}
.bg-green {
	background-color: var(--green);
}
.bg-gold {
	background-color: var(--gold);
}

.square {
	aspect-ratio: 1;
	object-fit: cover;
}

.inner {
	padding: 0 var(--gutter);
}

h1,
h2,
h3 {
	font-family: watkins;
}

h2,
h3,
h4 {
	font-weight: normal;
}

h6 {
	font-size: 14px;
	font-family: watkins;
	margin: 0;
}

p {
	max-width: 640px;
}

.prose p {
	text-indent: 1em;
	margin: 0;
}

p:first-of-type {
	text-indent: 0;
}

a {
	color: var(--blue);
}

a.cta {
	color: inherit;
	border: 3px inset var(--gray);
	text-decoration: none;
	height: 2rem;
	padding: 0 6px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: white;
}

a.cta:hover,
button:hover {
	background: var(--black);
	color: white;
	border-style: outset;
}

button {
	font: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	letter-spacing: inherit;
	color: inherit;
	opacity: 1;
	border: 3px inset var(--gray);
	padding: 3px;
	background-color: #fff;
	border-radius: 0;
}

ul {
	max-width: 640px;
}

.grid-or-flex {
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 1em;
}

.trio {
	gap: 1rem;
	grid-template-columns: 1fr 15px 1fr 15px 1fr;
}

.comparison-table {
	display: grid;
	grid-template-columns: max-content 1fr 15px 1fr;
	gap: 1rem 2rem;
	margin-top: 4rem;
	text-align: center;
}
.comparison-table h2 {
	margin: 0;
}
.comparison-table .header {
	color: var(--gray);
}

.show-mobile {
	display: none;
}

.prose-columns {
	columns: 3;
}
.prose-columns p {
	margin: 0;
	text-indent: 1em;
}
.prose-columns p:first-child {
	text-indent: 0;
}

.prose-columns p:first-child::first-letter {
	initial-letter: 2;
	padding-right: 2px;
}

@media (max-width: 1000px) {
	body {
		--gutter: 2rem;
	}
	.prose-columns {
		columns: 2;
	}
}

@media (max-width: 800px) {
	body {
		--gutter: 0;
	}

	.prose-columns {
		columns: 1;
	}

	.hide-mobile {
		display: none !important;
	}

	.show-mobile {
		display: block;
	}

	.grid-or-flex {
		display: flex;
		flex-direction: column;
	}

	.comparison-table h2 {
		font-size: 1rem;
	}
	.comparison-table {
		grid-template-columns: 1fr 1fr;
		margin-top: 2rem;
		text-align: left;
	}
	.comparison-table .header {
		grid-column: span 2;
		text-transform: uppercase;
		font-size: smaller;
		padding-top: 1rem;
	}
}
