* {
	box-sizing: border-box;
}

/* html {
	scroll-padding-top: 4em;
} */

body {
	margin: 0;
	font-size: 18px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	--red: #750f29;
	--green: #204638;
	--gold: #c29b58;
	--blue: #02718a;
	--black: #333;
	color: var(--black);
}

@font-face {
	font-family: 'Watkins';
	src: url('./TAYWatkins.otf');
}

@font-face {
	font-family: 'Bartender';
	src: url('./TAYBartender.otf');
}
