@import url('fonts/fonts.css');

* {
	box-sizing: border-box;
}

/* html {
	scroll-padding-top: 4em;
} */

body {
	margin: 0;
	font-size: 18px;
	line-height: 1.2;
	font-family: 'Brunel', 'Times New Roman', Times, serif;
	--red: #750f29;
	--green: #204638;
	--gold: #c29b58;
	--blue: #02718a;
	--black: #333;
	color: var(--black);
}

img {
	max-width: 100%;
}

.red {
	color: var(--red);
}
.blue {
	color: var(--blue);
}
.green {
	color: var(--green);
}
.gold {
	color: var(--gold);
}

.bg-red {
	background-color: var(--red);
}
.bg-blue {
	background-color: var(--blue);
}
.bg-green {
	background-color: var(--green);
}
.bg-gold {
	background-color: var(--gold);
}

.square {
	aspect-ratio: 1;
	object-fit: cover;
}
