* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  --brown: #5e4c3c;
  --tan: #ffeacc;
  --gutter: calc((100vw - 1200px) / 2);
}

header {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  color: var(--brown);
  position: relative;
  z-index: 2;
  padding: 0 var(--gutter);
  background: linear-gradient(
    0deg,
    transparent 0%,
    transparent 10.95%,
    var(--brown) 10.95%,
    var(--brown) 11.45%,
    var(--tan) 11.45%,
    var(--tan) 79.75%,
    var(--brown) 79.75%,
    var(--brown) 80.25%,
    transparent 80.25%,
    transparent 100%
  );
}

header .links {
  padding-top: 14px;
}

.links {
  display: flex;
  align-items: center;
  gap: 1em;
}

header .links {
  align-items: start;
  position: relative;
  top: -20px;
}

header a, nav a {
  text-decoration: none;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
}
.thumbnail img {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 5px;
  border: 1px solid var(--brown);
  border-radius: 50%;
}

a.highlight {
  border: 1px solid var(--brown);
  padding: 0.5em;
  border-radius: 5px;
  background: white;
  text-decoration: none;
}

nav {
  z-index: 3;
  padding: 1em var(--gutter);
  border-top: 1px solid var(--brown);
  border-bottom: 1px solid var(--brown);
  text-align: center;
  position: sticky;
  top: -1px;
  background: var(--tan);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--brown);
}

a {
  color: var(--brown);
}

input, button {
  font-family: inherit;
  font-size: inherit;
}

h2, h3, h4 {
  font-weight: normal;
  margin: 0;
}

.intro {
  display: flex;
  gap: 2em;
  justify-content: start;
  align-items: center;
  background-image: url("./heropics/1.jpg");
  background-size: cover;
  background-position: 50% 50%;
  padding: 4em var(--gutter) 3em;
  margin-top: -1.4em;
}

.intro article {
  padding: 2em;
  background: white;
  max-width: 640px;
  background: var(--tan);
  border-radius: 5px;
  border: 1px solid var(--brown);
}

.intro article p:first-child {
  margin-top: 0;
}
.intro article p:last-child {
  margin-bottom: 0;
}

.intro img {
  width: 40%;
}

.tabs-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  border-bottom: 1px solid var(--brown);
}

.tabs {
  width: 1200px;
  max-width: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.tabs h2 {
  color: var(--brown);
  margin: 0;
  position: relative;
  bottom: -1px;
  border-top: 1px solid var(--brown);
  border-right: 1px solid var(--brown);
  border-left: 1px solid var(--brown);
  padding: 0.5em;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabs h2.active {
  text-decoration: none;
  border-bottom: 1px solid white;
  z-index: 2;
}

#buildingContainer {
  padding: 1em var(--gutter);
}

.room {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid var(--brown);
  padding: 1em 0;
}

.room:last-child {
  border-bottom: none;
}

small {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.building {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border-bottom: 1px solid var(--brown);
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.building img {
  border-radius: 50%;
  border: 1px solid var(--brown);
}

footer {
  border-top: 1px solid var(--brown);
  background: var(--tan);
  padding: 4em var(--gutter) 6em;
  font-size: smaller;
  display: flex;
  justify-content: space-between;
}

footer div:nth-child(2) {
  text-align: right;
}