body {
  margin: 0;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  --brown: #5e4c3c;
}

header {
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color: var(--brown);
  background: linear-gradient(
    0deg,
    transparent 0%,
    transparent 10.95%,
    var(--brown) 10.95%,
    var(--brown) 11.45%,
    #ffeacc 11.45%,
    #ffeacc 79.75%,
    var(--brown) 79.75%,
    var(--brown) 80.25%,
    transparent 80.25%,
    transparent 100%
  );
}

header div {
  padding-top: 14px;
}

header a {
  color: inherit;
}

article {
  max-width: 640px;
  margin: 2em auto;
}

footer {
  padding: 1em;
  border-top: 1px solid var(--brown);
  text-align: center;
}

a {
  color: var(--brown);
}

input, button {
  font-family: inherit;
  font-size: inherit;
}