@font-face {
	font-family: 'Brunel Text Web';
	src: url('BrunelText-SemiboldItalic-Web.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
	}

.BrunelText-SemiboldItalic-Web {
	font-family: 'Brunel Text Web';
	font-weight: 600;
	font-style: italic;
	}
