* {
	box-sizing: border-box;
}

html {
	scroll-padding-top: 4em;
}

body {
	margin: 0;
	font-size: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	--brown: #5e4c3c;
	--tan: #ffeacc;
	--gray: #999;
	--gutter: max(1em, calc((100vw - 1200px) / 2));
}

.links {
	display: flex;
	align-items: center;
	gap: 1em;
}

nav {
	padding: 1em var(--gutter);
	border-top: 1px solid var(--brown);
	border-bottom: 1px solid var(--brown);
	text-align: center;
	background: var(--tan);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--brown);
}

a {
	color: var(--brown);
}

nav a {
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

input,
button {
	font-family: inherit;
	font-size: inherit;
}

h1 {
	margin: 0;
	font-weight: normal;
}

/* h1 + h2 {
	font-style: italic;
	font-weight: normal;
	font-size: 1.2em;
	margin-top: 0;
} */

h2,
h3,
h4 {
	font-weight: normal;
	margin: 0;
}

img {
	max-width: 100%;
}

hr {
	margin: 2em 0;
	border: none;
	border-bottom: 1px solid var(--brown);
}

.inner {
	padding: 1em var(--gutter) 2em var(--gutter);
}

.inner p {
	max-width: 640px;
}

.inner p:first-child {
	margin-top: 0;
}

.grid-or-flex {
	display: grid;
	grid-template-columns: 2fr 3fr;
	gap: 1em;
}

p {
	line-height: 1.4;
}

li {
	line-height: 1.4;
}

.show-mobile {
	display: none;
}

@media (max-width: 800px) {
	nav,
	.links {
		align-items: start;
		gap: 1em;
		flex-wrap: wrap;
	}

	.hide-mobile {
		display: none;
	}

	.show-mobile {
		display: block;
	}

	.grid-or-flex {
		display: flex;
		flex-direction: column;
	}
}
