@font-face {
	font-family: 'Brunel Text Web';
	src: url('BrunelText-Semibold-Web.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	}

.BrunelText-Semibold-Web {
	font-family: 'Brunel Text Web';
	font-weight: 600;
	font-style: normal;
	}
